<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Khata</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        .is-red { color: #f14668; }
        .is-green { color: #48c774; }
        .transaction-card { border-bottom: 1px solid #eee; padding: 10px 0; }
    </style>
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <strong class="has-text-white is-size-4"><i class="fas fa-book"></i> Khata (Ledger)</strong>
        </a>
    </div>

    <div class="navbar-menu is-active" style="box-shadow: none; padding: 0;">
        <div class="navbar-end">
            {% if user %}
            <div class="navbar-item">
                <a href="/logout" class="button is-danger is-small is-light" style="text-decoration: none;">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span>Logout</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

    <section class="section">
        <div class="container" style="max-width: 600px;">
            {% block content %}{% endblock %}
        </div>
    </section>
</body>
</html>